
@{
    ViewBag.Title = "Dasboard";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}


<script src="~/assets/examples/js/dashboard/v1.js"></script>

<div class="page">
    <div class="page-content">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">DEMO CONTENT</h3>
            </div>
            <div class="panel-body">
                <p>
                    Praeteritas patiatur habuit aptior torquem, claudicare discenda, habent
                    accusamus commune. Eos dicat constituant, cedentem prima telos dissensio
                    mererer adipiscuntur retinere explicari dicendum terentianus, arbitrium
                    definitiones deduceret subtilius certa, postulant, tolerabiles quondam
                    forensibus secutus dubitat insipientiam fuit mihi urbanitas, dicam
                    utrumque sicut utilitas scribi nomine. Epicurum sol consentaneum stulti
                    error illas atque gratia priventur, gravioribus sinit malit, extremum
                    privavisse ornatus latina, d ullum abhorreant minuti latinas carere
                    intus, nominata exercitationem suas molita verbis cogitemus reque ero,
                    iustioribus maximis. Suavitate, malint eam quaerimus desideraturam
                    quid coercendi laborum quando concludaturque, contemnentes infanti
                    accedit, solent spatio gravissimas detracto respondendum, inciderit
                    perdiderunt scribentur perfunctio. Vulgo iniurias, leviora officia
                    emolumenti invenire cognosci conciliant chrysippe. Verentur quem efficeretur
                    ostendit, institutionem copulatas perpetuis acute similia utraque grate
                    libido, dissentias probo atomi utilitatibus soleat facere ignavi tuentur
                    timiditatem moribus. Impediri error invenire facillime nihilo. Efficiatur
                    apud procedat tale meminerunt liberemus nondum transferrem singulis,
                    veri, loqueretur periculum tradidisse conclusionemque earumque magnum
                    deterritum, triario pariant praeda debeo verborum, stoicis eam miserius
                    oblivione urbane ancillae cruciantur egregios praeceptrice voluptaria,
                    initia atomis avocent iniuria patientia, vivere corporum minuti doctiores,
                    quaeso intellegentium videre tractat.
                </p>
                <p>
                    Mens iniuria, ponderum convenire pariter torquatis recusandae id efficitur
                    incurreret, emancipaverat asperner fugiendam inanitate etiam potitur,
                    discordant incidunt manilium consuetudine o tota exercitus ponendam
                    ecce cursu. Quaeque rebus liberae rationibus studium fames per, exhorrescere.
                    Umbram perdiderunt. Geometria detractio impensa. Plerisque disciplinae
                    locos is aegritudinem summum amicitias, tuo chrysippo platonem dicitur
                    progrediens. Clamat, architecto sollicitant tale certe titillaret ingeniis
                    doctrinis. Artem bonas leguntur memoriter oriantur. Displicet defuit
                    fugiendum iucundius, declinabunt privamur solum. Audire obruamus augendas
                    copulatas versatur nivem albuci quarum. Interiret nollem ornatum video.
                    Corrupte quanti miser albam petentium parabilis utrumque, amaret putem
                    putanda aegritudo sententiae loquuntur interiret, probamus statuerunt
                    videretur detractis probarentur, exquirere putavisset, magis generis
                    pertinax eveniunt. Sequi impetus reperietur sollicitare tranquillat,
                    cognitio, liberamur praesenti utinam finitas omnisque reperiri facillime
                    cura meliore, contumeliae graviter redeamus deserunt. Verissimum multa
                    se reliquerunt torqueantur, notae aegritudines videre voluptaria atomorum
                    iudicabit ea, arbitrer clamat agam homo ait, facilis natus patriam
                    forte consequentium firmitatem voluptates perpessio, gravissimo. Paratus
                    derepta nunc essent potuimus, tibique assidua peccandi apeirian fabellas,
                    brevis inciderint, pervenias fidelissimae notionem deinde negent proprius
                    dicemus torquatus, bonarum. Vim, accusator, desideraret suam interdictum
                    severa.
                </p>
            </div>
        </div>
    </div>
</div>
<!-- End Page -->

@section Footer2{
<!-- Page -->
<script src="~/assets/examples/js/dashboard/v1.js"></script>
}